

.App {
  text-align: center;
}


.topnav{
  background-color: rgb(70, 68, 68);
  position: fixed;
  opacity: 80%;
  width: 100%;
  display: flex;
  z-index: 10000;
  top: 0px;
  height: 5%;
  flex-direction: row;
  align-items: center;
}

.namee{
  color:#00d5ea;
  font-family: 'Gumball';
  font-weight: 200;
  font-size: 40px;
  flex-grow: 1;

}

.skills_nav{
  flex-grow: 4;
  gap: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.butt_nav{
  color: #fed768;
  font-weight: 500;
  font-family:'Roboto';
  font-weight: 999;
  letter-spacing: 1px;
}

.icons{
  flex-grow: 1;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  padding-right: 2%;
}

.App{
  position: absolute;
  height: 600%;
  width: 100%;
}

.vid_main{
  width: 100%;
  height: 17%;
  margin: 0;
  padding: 0;
  object-fit: cover;
  z-index: -100;
}

.my_photo{
  height: 200px;
  width: 200px;
  border: 5px solid white;
  border-radius: 50%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 5%;
  z-index: 500;

}

.icons_h:hover{
  color: yellow;
}

.github_icon{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}


.cv_icon{
  height: 30px;
  width: 30px;
}

.linkedin_icon{
  height: 30px;
  width: 30px;
}

.first{
  height: 100%;
}

.text_first{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}

.greet{
  top: 8%;
  font-family: 'Gumball';
  font-weight: 200;
  font-size: 70px;
}

.love{
  top: 10%;
  font-family:'Gumball';
  font-weight: 400;
  font-size: 30px;
}

.second{
  position: absolute;
  top: 17%;
  height: 34%;
  width: 100%;
  background-color: #f75dce;
  display: flex;
  flex-direction: column;
}

.about{
  background-color: white;
  height: 50%;
  display: flex;
}

.skills{
  background-color: blue;
  height: 50%;
  display: flex;
}